<section class="m-5">
    <div class="grid grid-cols-2 gap-4  leading-relaxed mb-5">
        <div class="col-span-6 mb-5 p-5">

            <p class="text-7xl text-center font-semibold">
                A premier choice for streaming movies
                <span class=" text-[#25b998]"> free of charge</span>
            </p>
            <button [routerLink]="'home'" type="button" 
                class=" mx-auto justify-items-center font-semibold flex m-5   text-black  bg-[#25b998]   hover:bg-gradient-to-blue shadow-md transform transition-transform duration-300 hover:scale-110 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 font-medium rounded-lg  px-5 py-2.5 ">
                <span>Go To Home </span>
                <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>

            </button>
        </div>
      
    </div>
    <div class="grid grid-cols-2 gap-4  leading-relaxed  m-5">
        <div>
            <h2 class="text-2xl mb-3">MojMovie - Top 1 free movie streaming platform</h2>
            <p class="text-slate-500">
                Tired of constant interruptions while enjoying your favorite movies? Switch to MojMovie.com, an ad-free
                platform offering uninterrupted movie streaming. Say farewell to annoying ads, pop-ups, and breaks in
                your viewing experience. Why pay for movies when you can enjoy them for free on MojMovie.com? Explore a
                diverse range of high-quality films across genres without any subscription charges. Whether you crave
                action, drama, or suspense, MojMovie.com has an extensive library to cater to your entertainment needs.
            </p>
        </div>
        <div>
            <h2 class="text-2xl mb-3">Is it Legal to Watch Movies Online on MojMovie?</h2>
            <p class="text-slate-500">
                According to copyright attorneys, watching movies online via platforms like MojMovie.com is typically
                deemed legal, as streaming generally doesn't breach copyright laws. Nonetheless, it's imperative to
                recognize that distributing or downloading copyrighted material without authorization is unlawful and
                violates intellectual property rights. To safeguard anonymity and security during online endeavors, it's
                strongly advised to utilize a Virtual Private Network (VPN).
            </p>

        </div>
        <div>
            <h2 class="text-2xl mb-3">What is MojMovie.com?</h2>
            <p class="text-slate-500">
                MojMovie.com stands out as a state-of-the-art platform for free movie streaming. Dive into a vast
                collection of HD movies and TV shows, all accessible at no cost. Departing from conventional norms,
                MojMovie.com elevates the movie streaming experience to new heights. It capitalizes on the strengths of
                traditional sites while eliminating their shortcomings and hassles. Offering a user-friendly interface,
                an expansive movie library, and flawless streaming performance, MojMovie.com paves the path forward in
                the ever-changing world of free movie websites.
            </p>

        </div>
        <div>
            <h2 class="text-2xl mb-3">What Are The Features Of MojMovie.com?</h2>
            <ul class="text-slate-500 list-disc">
                <li>MojMovie provides a freemium movie streaming experience, offering premium features for
                    <strong>watching
                        movies online</strong> without registration.
                </li>
                <li>Extensive content library featuring a wide array of movies across different genres.</li>
                <li>High-definition definition for an immersive viewing experience.</li>
                <li>User-friendly interface and seamless browsing for easy navigation.</li>
                <li>Ad-free and pop-up-free environment ensuring uninterrupted movie streaming.</li>
                <li>Support for multiple subtitles for enhanced accessibility.</li>
                <li>Compatibility with Chromecast for streaming on your TV.</li>
                <li>Mobile-friendly design for convenient entertainment on the go.</li>
                <li>No registration required; simply access and start watching movies.</li>
                <li>Personalized watch list feature to keep track of your favorites.</li>
                <li>Download option available for offline viewing.</li>
                <li>Excellent customer service to address any inquiries or concerns.</li>
            </ul>
        </div>
        <div class="">
            <h2 class="text-2xl mb-3">What you can watch on MojMovie.com?</h2>
            <p class="text-slate-500">
                Explore the remarkable array of movies awaiting you on MojMovie. Dive into a vast assortment of films
                tailored to suit every taste and preference. Delve into our expansive content library, boasting an
                impressive array of titles across diverse genres. Whether you're in the mood for adrenaline-fueled
                thrillers, heartwarming romances, gripping dramas, or uproarious comedies, MojMovie offers something
                for everyone. Whether you seek the latest blockbusters or timeless classics, our collection of
                high-quality movies promises endless entertainment.
            </p>

        </div>
    </div>

</section>